/*Preferencia do CSS : ID,Class,TAG*/

@import url('reset.css');
@import url('grid.css');
@import url('buttons.css');
@import url('typography.css');
@import url('icons.css');
@import url('menu.css');

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(130,130,130);
    /*Aumentar o espaçamento das linhas*/
    line-height:25px;
}

#header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#header nav a:hover, #header nav a.active {

    /*Cor em formato rgba*.(ultimo campo é vizibilidade*/
    background-color: rgba(84, 209, 84, 0.3);
}

#header h1 {
    font-size: 54px;
}

#header {

    /*Efeito do parallax*/
    background: #000 no-repeat fixed center;
    /*Preencher a tela toda*/
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 660px;
    position: relative;
    padding-top: 30px;
}

#header a {
    color: #ffffff;
    transition: ease .5s all;
}


#header nav {
    text-align: right;
}

/*Montanto a arvore,para aceitar o efeito*/
#header nav ul, #header nav ul li {
    display: inline-block;
}

#header .title {

    position: absolute;
    left: 0;
    top: 50%;

    /*Centralizar o objeto*/
    transform: translate(0, -50%);

    text-align: center;
}

.section {

    padding:30px 0px 30px 0;
}

.section-center {

    text-align: center;
    padding:30px 0px 30px 0;
}

#footer,#team,#customers, #how-it-work {
    text-align: center;
    padding:30px 0px 30px 0;
}



#footer {
    background-color: rgb(51, 51, 51);
    text-align: left;
}

#footer, #footer a {
    color: rgb(204, 204, 204);
}

#footer h3, #footer nav li {
    text-transform: uppercase;
}

#footer h3:after {
    content: '';
    display: block;
    border-bottom: 2px solid rgb(204, 204, 204);
    width: 30px;
}

#footer nav li {
    padding: 3px 0;
}

#footer nav li a:hover {
    color: rgb(255, 255, 255);
}

#footer .social {
    height: 200px;

    /*Centralizar um texto em uma linha*/
    line-height: 200px;
    text-align: right;
}

#footer .social a {
    display: inline-block;
    padding: 0 0 0 10px;
    opacity: 1;
}

#footer .social a:hover {
    opacity: .5;
    transition: ease .3s all;
}

#footer .social img {
    vertical-align: middle;
}

#copyright {
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding: 10px;
}